.col-lg-1{
	border-style: outset;
	border-width: thin;
	border-radius: 10px;
	border-color: black;
}

.search{
  border-style: hidden;
  border-radius: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

.navbar{
  width: 100%;
  background: #2364AA;
}

.article{
  color: black;
}

.navbar{
  border-radius: 25px;
	border-style: outset;
	border-width: thin;
}

.about:hover{
	background-color: #5F00BA;
}

.contact:hover{
	background-color: #5F00BA;
}

.home:hover{
	background-color: #5F00BA;
}

.categories:hover{
	background-color: #5F00BA;
}

.user:hover{
	background-color: #5F00BA;
}

.inbox:hover{
	background-color: #5F00BA;
}
